---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
import { SITE } from "../site-config";
import Button from "./Button.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  padding="p-5 md:pt-3 md:px-4"
>
  <div class="h-full">
    <header class="flex items-center">
      <h2 class="text-white text-xl font-bold">
        Let's start working together!
      </h2>
    </header>
    <address class="flex flex-col my-4">
      <h2 class="text-darkslate-300">Contact Details</h2>
      <a
        href={`mailto:${SITE.links.email}`}
        class="text-sm hover:text-primary-500 transition-colors"
        >{SITE.links.email}</a
      >
      <p>{SITE.location.countryName}</p>
    </address>

    <Button aria-label="book a call" data-cal-link={SITE.cal.username}>
      <span
        data-umami-event="Book a call"
        data-cal-link={SITE.cal.username}
        class="font-bold whitespace-nowrap">Book a call</span
      >
    </Button>
  </div>
</Card>
